<div class="login-viewport">
  <div class="login-box">
    <div class="login-header">
      <header>Welcome</header>
      <p>Continue your typing journey!</p>
    </div>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="input-box">
        <input 
          type="text" 
          class="input-field" 
          id="email" 
          formControlName="emailAddressOrUsername"
          autocomplete="off" 
          required
          [ngClass]="{'error': emailAddressOrUsername?.invalid && (emailAddressOrUsername?.dirty || emailAddressOrUsername?.touched || submitted)}"
        >
        <label for="email">Email or Username</label>
      </div>
      
      <div class="input-box">
        <input 
          type="password" 
          class="input-field" 
          id="password" 
          formControlName="password"
          autocomplete="off" 
          required
          [ngClass]="{'error': password?.invalid && (password?.dirty || password?.touched || submitted)}"
        >
        <label for="password">Password</label>
      </div>
      
      <div class="forgot">
        <section>
          <input type="checkbox" id="check" formControlName="rememberMe">
          <label for="check">Remember me</label>
        </section>
        <section>
          <a href="#" class="forgot-link" (click)="onForgotPassword()" [class.disabled-link]="loading">Forgot password?</a>
        </section>
      </div>
      
      <div class="validation-message" [class.has-error]="getValidationMessage()">{{ getValidationMessage() }}</div>
      
      <div class="input-box">
        <input 
          type="submit" 
          class="input-submit" 
          value="Sign In"
          [disabled]="loading"
        >
      </div>
    </form>
    
    <div class="middle-text">
      <hr>
      <p class="or-text">Or</p>
    </div>
    
          <div class="social-sign-in">
        <button type="button" class="input-google" (click)="onGoogleSignIn()">
          <img src="assets/icons/google.png" alt="Google">
          <p>Sign In with Google</p>
        </button>
      </div>
    
    <div class="sign-up">
      <p>Don't have account <a (click)="onSignUp()" [class.disabled-link]="loading">Sign up</a></p>
    </div>
  </div>
</div> 