:host {
  color: var(--color-text);
  background: var(--color-bg-card);
  box-shadow: var(--color-shadow);
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid var(--color-border);
  margin-bottom: 1rem;
}
