<app-afk-overlay [show]="!showPostDrillOverlay && delayedAfkOverlay"></app-afk-overlay>

<app-adaptive-drill-overlay 
  [show]="showAdaptiveDrillOverlay"
  [isLoadingErrorWords]="isLoadingErrorWords"
  [isGeneratingAdaptive]="isGeneratingAdaptive"
  (viewErrorProneWords)="viewErrorProneWords.emit()"
  (generateAdaptiveDrill)="generateAdaptiveDrill.emit()">
</app-adaptive-drill-overlay>

<app-post-drill-overlay 
  [show]="showPostDrillOverlay"
  [isSubmitting]="isSubmitting"
  [submitError]="submitError"
  [hasBeenInactive]="hasBeenInactive"
  [afkReason]="afkReason"
  (postDrillRestart)="postDrillRestart.emit()"
  (postDrillSubmit)="postDrillSubmit.emit()">
</app-post-drill-overlay>

<div class="drill-text-wrapper"
     [ngClass]="{'blur-background' : !isFocused || showPostDrillOverlay || showAdaptiveDrillOverlay, 'afk-cursor': delayedAfkOverlay && !showPostDrillOverlay}">
  <nz-card class="drill-text" #drillText>
    <div class="drill-text-inner">
      @for (word of sourceText; track wi; let wi = $index) {
        <nz-tag class="word" [ngClass]="getWordClass(wi)" #wordEl>
          @for (char of word; track ci; let ci = $index) {
            <span
              [ngClass]="
                getLetterClass(wi, ci) +
                (char === ' ' && getLetterClass(wi, ci) === 'letter-active'
                  ? ' letter-active-space'
                  : '')
              "
            >
              {{ char === " " ? "␣" : char }}
            </span>
          }
        </nz-tag>
      }
    </div>
  </nz-card>

  <div class="fade-top"></div>
  <div class="fade-bottom"></div>
</div>