<nz-card class="drill-text" #drillText>
  <ng-container *ngFor="let word of sourceText; let wi = index">
    <nz-tag class="word" [ngClass]="getWordClass(wi)" #wordRef>
      <ng-container *ngFor="let char of word; let ci = index">
        <span
          [ngClass]="
            getLetterClass(wi, ci) +
            (char === ' ' && getLetterClass(wi, ci) === 'letter-active'
              ? ' letter-active-space'
              : '')
          "
        >
          {{ char === " " ? "␣" : char }}
        </span>
      </ng-container>
    </nz-tag>
  </ng-container>
</nz-card>
